.card-container{
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 850px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        background-color: white;
        row-gap: 20px;
    }
}

