footer{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    padding-top: 66px;
    padding-bottom: 30px;
    margin-top: 50px;

    .logo-footer{
        width: 122px;
        height: auto;
    }

    .copyright{
        display: inline-block;
        font-size: 24px; 
        font-weight: 500;

        @media (max-width: 850px){
            width: 133px;
            font-size: 12px;
            line-height: 140%;
        }
    }

    @media (max-width: 850px){
        gap: 14px;
        margin-top: 27px;
        padding-bottom: 58px;
    }


    
}